#our-departments{
    margin-top: 20%;
}
#deptxt{
    font-size: 35px;
}
#deprat-divs{

    width: 100%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: flex;
    justify-content: flex-start;
}
#deprat-divs1{
    flex:1;
}
#deprat-divs2{
    flex:1;
}
#deprat-divs3{
    flex:1;
}
.d1{
    width: 360px;
}
.d2{
    width:360px;}
.d3{
    width:360px;}
#ttt{
    font-size: 23px;
    position: absolute;
}
.deprat-txt{
    font-size: 17px;
    padding-right: 10px;
    position: absolute;
    z-index: 99;
    top:580%;
}
#doctorss{
    margin-top: 200px;
    width:100%;
    height: 600px;
    background-color: #ddfff9;
    display: flex;
    position: relative;
}
#doc-img-txt{
    height: 400px;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: absolute;
    left:67%
}
#doc-img-madk{
    width:800px;
    height:600px;
}
#doc-img-txt ul{ 
    list-style-image: url("images/tick.jpg"); 
} 
#doc-img-txt ul li{ 
    font-size: 20px;
} 
#why{
    position: absolute;
    left:64%;
    top:13%;
   
    /* padding-left: 15px; */
    
}
#meet-out-specialist{
    margin-top: 200px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#we-have-the{
    font-weight: normal;
}

#doctors-divs{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: flex;
    justify-content: space-between;
}   
#doctor-divs1{
    flex:1;
    text-align: center;
}
#doctor-divs2{
    flex:1;
    text-align: center;
}
#doctor-divs3{
    flex:1;
    text-align: center;
}
#doctor-divs4{
    flex:1;
    text-align: center;
}
.doc1{
    width: 260px;
}
#view-all-button{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.view-all{
    width:100px !important;
    height: 35px !important;
}


#facility-act{
    margin-top: 120px;
    text-align: center;
}
#facility-divs{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
#facility-div1{
    flex:1;
    text-align: center;
}
#facility-div2{
    flex:1;
    text-align: center;
}
#facility-div3{
    flex:1;
    text-align: center;
}
.fac1{
    width: 350px;
}






#you-intrested{
    margin-top: 120px;
    text-align: center;
}
#intrested-divs{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    top:400%;
    z-index: 99;
}
#intrested-div1{
    flex:1;
}
#intrested-div2{
    flex:1;
}
#intrested-div3{
    flex:1;
}
.int1{
    width: 350px;
    position: absolute;
}



#blue-fill{
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:#ddfff9bd;
    /* background-color:#ff7c7c75; */
    z-index: -10;

}
#page-contain{
    padding: 0 105px 0 105px;
}